* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

.global_container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.global_container .global_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}
.global_container .global_title h2 {
  font-size: 2.2rem;
  color: #3a3a3a;
  padding-bottom: 14px;
  font-weight: 600;
}
.global_container .global_title .global_line {
  background-color: #898989;
  display: inline-block;
  height: 3px;
  margin-bottom: 26px;
  width: 60px;
}
.global_container .global_title .global_info p {
  text-align: center;
  letter-spacing: 10px;
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 200;
}

header .nav_section {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}
header .nav_section .nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
header .nav_section .nav_container .menu_btn {
  display: none;
}
header .nav_section .nav_container .nav_title {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 5px;
  padding: 0px 40px;
}
header .nav_section .nav_container .nav_title img {
  width: 120px;
  height: 60px;
}
header .nav_section .nav_container .nav_title a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #0741ad;
}
header .nav_section .nav_container nav.nav_content {
  width: 70%;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0px 10px;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul li.unique {
  padding: 0;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul li.unique i.connection {
  border: 1px solid #e4e4ec;
  border-radius: 50%;
  color: #b8b8b8;
  display: inline-block;
  font-size: 20px;
  height: 48px;
  margin: 0px 5px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  transition: all 0.5s;
  cursor: pointer;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul li.unique i.connection:hover {
  background-color: #0741ad;
  color: #fff;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul .nav_list_item {
  font-size: 1.25rem;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  position: relative;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul .nav_list_item a {
  color: #444;
  text-decoration: none;
  transition: all 0.3s;
  text-align: center;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul .nav_list_item a i {
  transition: all 0.3s;
  padding-right: 5px;
}
header .nav_section .nav_container nav.nav_content ul.nav_ul .nav_list_item:hover a {
  color: #0741ad;
  transform: translateY(-5px);
}
header .nav_section .nav_container nav.nav_content ul.nav_ul .nav_list_item:hover a i {
  color: #0741ad;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #1fb5ce 50%, transparent 60%) center center/100% 100%, url("../images/title.jpg") right center/auto 100%;
  background-color: #eee;
  margin-top: 104px;
}
.banner .banner_container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}
.banner .banner_container .banner_text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner .banner_container .banner_text h1 {
  font-size: 5rem;
  border-bottom: 1px solid #333;
  font-weight: 900;
  padding-bottom: 30px;
}
.banner .banner_container .banner_text h1 small {
  display: block;
  font-size: 4rem;
  font-weight: 700;
}
.banner .banner_container .banner_text p {
  font-size: 1.5rem;
  font-weight: 300;
}

.about {
  width: 100%;
  background-color: #f4e9e9;
  padding: 6rem 0rem;
}
.about .about_container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding: 6rem;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 10px 2px #333;
}
.about .about_container .about_img {
  margin: 0px 20px;
  width: 50%;
  height: auto;
}
.about .about_container .about_img img {
  width: 100%;
  height: 100%;
}
.about .about_container .about_txt {
  margin: 0px 20px;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about .about_container .about_txt h2 {
  font-weight: 100;
  font-size: 2.5rem;
  color: #5c5a5a;
  padding: 0rem 0rem 1.5rem;
}
.about .about_container .about_txt h2::after {
  content: "";
  height: 1px;
  width: 2.5rem;
  background-color: #333;
  display: block;
  margin-top: 0.5rem;
}
.about .about_container .about_txt p {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.75;
}

#serve {
  box-shadow: 0px 2px 3px 2px #242323;
  background-color: #fff;
}

.serve {
  width: 100%;
  background-color: #f3eeee;
  padding: 30px 0px;
}
.serve .serve_content {
  display: flex;
  margin: 60px 0px;
  padding: 0px 10px;
  width: 100%;
}
.serve .serve_content .serve_item:hover .serve_icon i {
  color: #fff;
}
.serve .serve_content .serve_item:hover .serve_icon {
  background-color: #00d999;
}
.serve .serve_content .serve_item:hover .serve_item_title::after {
  opacity: 1;
}
.serve .serve_content .serve_item:hover .serve_item_title, .serve .serve_content .serve_item:hover .serve_txt p {
  color: #000;
}
.serve .serve_content .serve_item .serve_icon {
  width: 117px;
  height: 117px;
  border: 1px solid #00d999;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: #f3eeee;
}
.serve .serve_content .serve_item .serve_icon i {
  font-size: 2.3rem;
  color: #00d999;
  transition: 0.3s;
}
.serve .serve_content .serve_item .serve_item_title {
  margin-bottom: 20px;
  padding: 30px 0px 10px;
  border-bottom: 1px solid #838282;
  text-align: center;
  color: #838282;
  font-size: 1.2rem;
  position: relative;
  transition: 0.3s;
}
.serve .serve_content .serve_item .serve_item_title::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #00d999;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.serve .serve_content .serve_item .serve_txt {
  text-align: center;
}
.serve .serve_content .serve_item .serve_txt p {
  padding: 0px 10px;
  color: #838282;
  font-size: 1rem;
  letter-spacing: 3px;
  transition: 0.3s;
}

#step_two,
#step_four {
  flex-direction: row-reverse;
}
#step_two .process_step,
#step_four .process_step {
  color: #00d999;
}

.process {
  margin: 30px 0px;
}
.process .process_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
}
.process .process_box .process_content {
  margin-bottom: 50px;
  width: 80%;
  align-self: flex-start;
  border-bottom: #00d999 3px solid;
}
.process .process_box .process_content:nth-child(2), .process .process_box .process_content:nth-child(4) {
  align-self: flex-end;
}
.process .process_box .process_content .process_item {
  display: flex;
  align-items: center;
  padding: 15px;
}
.process .process_box .process_content .process_item .process_step {
  font-size: 3rem;
  color: #333;
  font-weight: 600;
  text-align: center;
  padding: 0px 40px;
}
.process .process_box .process_content .process_item .process_info {
  margin: 30px;
}
.process .process_box .process_content .process_item .process_info .process_title_box {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}
.process .process_box .process_content .process_item .process_info .process_title_box .process_img i {
  font-size: 2.25rem;
}
.process .process_box .process_content .process_item .process_info .process_title_box .process_title {
  margin: 0px 15px;
  font-size: 2.25rem;
  color: #00d999;
}
.process .process_box .process_content .process_item .process_info .process_txt li {
  font-size: 1.25rem;
  color: #0c0b0b;
  font-weight: 100;
}
.process .process_box .process_content .process_item .process_info .process_txt li span {
  color: #5a5858;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
footer .footer_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
footer .footer_content .footer_title {
  border-bottom: #000 2px solid;
  padding: 10px 20px;
  margin: 15px 0px;
}
footer .footer_content .footer_title .footer_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer_content .footer_title .footer_logo img {
  width: 120px;
  height: 60px;
}
footer .footer_content .footer_title .footer_logo a {
  margin-top: 5px;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
}
footer .footer_content .footer_right {
  margin-left: 20px;
}
footer .footer_content .copyright {
  font-size: 1rem;
}
footer .footer_content .copyright span {
  color: #00d999;
}/*# sourceMappingURL=style.css.map */